<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <style>
        .main{
            width:100%;
            justify-content: center;
            flex-wrap: wrap;
            display: flex;
            margin: auto 0;
         
        }
      .imgg{
        width: 300px;
        height: 200px;
        border-radius: 12px;
      }
      .container{
        border-radius: 12px;
        padding: 10px;
        width:350px;
        margin :40px;
        font-family:  'Poppins', sans-serif;;
        text-align: center;
        box-shadow: 5px 5px 5px #e8e8e8;
      }
      a{
        background:#ffff;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5,
               -6px -6px 12px #ffffff;
               display: inline-block;
               padding: 10px;
               text-align: center;
 color:black;
 width: 100px;;
 text-decoration: none;
        border-radius: 12px;
        background-color: #ffff;
        font-size: larger;
        font-family:  'Poppins', sans-serif;;
        cursor: pointer;

      }
      a:hover{
        background-color:  #009087;
        color:#ffff;
        width: 250px;;
      }
      .welcome{
        
        font-family:  'Poppins', sans-serif;;
        text-align: center;
        box-shadow: 5px 5px 5px #e8e8e8;
      }
      
    </style>
</head>
<body>
  <header class="header-section">
    <div class="logo-user">
       <center> <img class="logo" src="./assets/logo.png" alt="logo"></img></center>
        
    </div>
</header>
    <h1 class="welcome">Welcome Admin</h1>
     <div class="main">
    <div class="container">

        <img class="imgg" src="https://img.freepik.com/free-vector/organic-flat-people-business-training-illustration_23-2148907195.jpg?w=1060&t=st=1697266161~exp=1697266761~hmac=72d07efdc881982032f34c8d2a315cccc56f7e62a92320f782644b5736b30cf6">
        <h1 class="heading">Patent Projects</h1>
        <p class="content">User can see patents here!!!</p>
        <a id="table" href="/admin">Upload</a>
        
    </div>
    <div class="container">
      <img class="imgg" src="https://img.freepik.com/free-vector/young-people-being-interns-company_23-2148721818.jpg?w=1060&t=st=1697266007~exp=1697266607~hmac=e68b1ed67b7118b3e517050fd62f1250de98a8618aaa6731c1fa9e24c892d647">
        <h1 class="heading">Conferences</h1>
        <p class="content">User can see Conferences here!!!</p>
        
        <a id="table" href="/conferenceadmin">Upload</a>
    </div>
    <div class="container">
      <img class="imgg" src="https://img.freepik.com/free-vector/young-people-read-books-library-students-study-school-college-university-vector-flat-illustration-men-women-sitting-stack-big-books-reading_107791-9763.jpg?w=1380&t=st=1697266269~exp=1697266869~hmac=86d3efa320ca29254b614adb3bea423ccc08d338087c3c82be7736513fb7a9fa">
        <h1 class="heading">Books and Chapters </h1>
        <p class="content">User can see books here!!!</p>
        
        <a id="table" href="/booksadmin">Upload</a>
    </div>
    <div class="container">
      <img class="imgg" src="https://img.freepik.com/free-vector/business-people-meeting-disputing-discussion_107791-13065.jpg?w=1380&t=st=1697266097~exp=1697266697~hmac=75fab0c7eba521d234dd446d8ab14ddfd42679c9ab236bb157370582cadf2ef1">
        <h1 class="heading">Article</h1>
        <p class="content">User can see article here!!!</p>
        
        <a id="table" href="/articleadmin">Upload</a>
    </div>
    <div class="container">
      <img class="imgg" src="https://img.freepik.com/free-vector/flat-working-day-scene-illustration_23-2148960100.jpg?w=1060&t=st=1697266057~exp=1697266657~hmac=e74048b15044841f25cd3f1baa7775cd177ab8befc9153c024b79ceea6b84c6e">
        <h1 class="heading">Projects</h1>
        <p class="content">User can see projects here!!!</p>
        
        <a id="table" href="/projectadmin">Upload</a>
    </div>
    
</div>
</body>
</html>
