.Acheivements {
 
    position: relative;
    min-height: 400px;
  }
  .Acheivements h1{
    text-align: center;
  }
  .achievements-list{
    margin:40px;
    align-items: center;
    font-size: 1.2rem;
    
    list-style: none;

  }
.container{

top:50%;
left:50%;
    position: relative;
    transform: translate(-50%,-50%);
    width: 90%;  
      height: 400px;
    background: rgba(0,0,0,.5);
    display: flex;
    transition: .9s;
}
.container .col{
    position: relative;
    width: calc(100% / 4);    height: 100%;
    transition: .9s;
}

.container .col:hover{
    transform: scale(1.1);
    z-index: 5;
}
.container .col:nth-child(1) span{
    background: #8e44ad;
}
.container .col:nth-child(2) span{
    background: #d35400;
}
.container .col:nth-child(3) span{
    background: #2ecc71;
}
.container .col:nth-child(4) span{
    background: #c0392b;
}

/***************** span ******************/
.container .col span{
  position:absolute;
    left: 0;
    display: block;
    width: 100%;   height: 50%;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;  align-items: center;
    transition: .9s;
    z-index: 1;
}
.container .col span:nth-child(1){
    top: 0;
}
.container .col span:nth-child(2){
    top: 50%;
}
.container .col span.active{
     z-index: 2;
}
.container .col span .fa{
    font-size: 60px;
    margin-left: -250%;
}
.container .col span h2{
    font-size: 20px;
}
.container .col span a{
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    background: #fff;   color: #262626;
    border-radius: 20px;
    margin-top: 10px;
    transform: scale(0);
    transition: .5s;
}
.container .col:hover span a{
    transform: scale(1);
}
.container .col:hover span a:hover{
    background: #00bcd4;   color: #fff;
}
.container .col span .pic{
    width: 100%;  height: 100%;
}
.container .col span .logo{
    width: 20%;  height: 20%;
}

@media screen and (max-width: 850px) { 
   .container{
      height: 200px;  width: 100%;
   }
   .container .col span{
       height: 100%;
   }
    .container .col span:nth-child(2){
        top: 0;
    }
} 

@media screen and (max-width: 600px) { 
    .container{
       height: calc(200px * 4);  width: 100%;
       display: block;
    }
    .container .col{
        height: 200px;  width: 100%;
    }
    .container .col span{
        height: 100%;  width: 100%;
    }
    .Acheivements {
 
        position: relative;
        min-height: 1100px;
      }
      .Acheivements h1{
        text-align: center;
      }
      .achievements-list{
        
        align-items: center;
        list-style: none;
    
      }
    
}