
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Titillium+Web:ital,wght@0,200;1,200&display=swap" rel="stylesheet">
<!-- Add to your <head> -->
  <title>Reset Password</title>
  <style>

   
    .zappy {
      background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
        width: 100%;
      height: fit-content;
        font-size: 40px;
      text-align: center;
      margin-top: 25px;;
      font-family: 'Playfair Display'
     
    }
        
        body {
          font-family: Arial, sans-serif;
         bottom: 0;
         background-image: url(./assets/bg.jpg);
        }
       
        #userType{
          width: 100%;
          padding: 10px;
          margin-bottom: 15px;
          border: 1px solid #ccc;
          border-radius: 4px;
          outline: none;
         
        }
    
        
    
        h1 {
          margin-bottom: 20px;
          color: #343a40;
        }
    
        form {
          text-align: left;
        }
    
        label {
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
          color: #343a40;
        }
    
        input {
          width: 100%;
          padding: 10px;
          margin-bottom: 15px;
          border: 1px solid #ccc;
          border-radius: 4px;
          outline: none;
        }
        .entire{
    
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;;;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20%;;
     }
     .container{
      background-color: #ffffff;
          padding: 70px;
          border-radius: 8px;
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
          text-align: center;
          width: 350px;
          margin-top:2% ;
    
     }
    
        button {
          background-color: #007bff;
          color: #fff;
          padding: 12px 15px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          font-weight: bold;
          transition: background-color 0.3s;
        }
    
        button:hover {
          background-color: #0056b3;
        }
    
        /* a {
          display: block;
          margin-top: 15px;
          color: #007bff;
          text-decoration: none;
          font-size: 14px;
        } */
        .contain{
          float:left;
         
        }
        img{
    width: 500px;
    height: 550px;;
    
    
       
    
        }
        .reg {
        background-image: linear-gradient(to right, #ff0303, #c67422);
        -webkit-background-clip: text; /* For Safari */
        background-clip: text;
        color: transparent;
    }
    
        
    @media screen and (max-width: 880px) {
      body {
     
        width: 100%;
        background-image: url('./assets/bg.jpg');
      }
      .container{
    
          text-align: center;
          width: 900px;
    
     }
     .entire{
    
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
     }
    .contain{
      margin-top: 0;
      margin-bottom: 10px;;
    }
    
    }
      </style>
</head>
<body>
    <div class="entire">
        <div class="container">
  <h4 class="zappy">Reset Password</h4>

  <% if (locals.error) { %>
    <p><%= locals.error %></p>
  <% } %>

  <form method="POST" action="/reset-password/<%= locals.token %>" id="loginForm">
    <label for="email">Enter Email Id:</label>
    <input type="mail" id="email" name="email" required>
    <label for="newPassword">Enter new password:</label>
    <input type="password" id="newPassword" name="newPassword" required>
    <button type="submit">Reset Password</button>
  </form>
</div>
</div>
</body>
</html>
