<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Titillium+Web:ital,wght@0,200;0,400;1,200&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Titillium+Web:ital,wght@0,200;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="moments.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap" rel="stylesheet">
<link rel="icon" type="image/png" href="./img/logo.jpeg" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      body {
        font-family: 'Helvetica Neue';
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        text-align: center;
        padding: 20px;
        background: #EBF0F5;
        margin: 0;
        height: 100vh;
      }

      .content {
        background: #ffffff;
        border-radius: 8px;
        padding: 20px;
        text-align: center;
      }

      .title {
        font-weight: bold;
        color: #5c5c5c;
      }

      .symbol {
        font-size: 150px;
        color: #37b20a;
      }

      .symbol .fa {
        -webkit-text-stroke: 13px white;
      }

      .text {
        margin-top: 15px;
        font-size: 25px;
        color: #e07202;
        font-family: 'avenir';
        font-weight: lighter;
      }

      .upload-button {
        margin-top: 15px;
        background-color: #37b20a;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        font-size: 20px;
        cursor: pointer;
      }
      @media only screen and (max-width: 880px) {
       
     
        .content {
    background: #ffffff;
    border-radius: 8px;
    padding: 27px;
    text-align: center;
    width: 80%;
    align-items: center;
    justify-content: center;

    height: 100%;
}
        
      }
    </style>
  </head>
  <body>
    
    <div class="content">
      <div class="symbol">
        <i class="fa fa-check-circle-o"></i>
      </div>
      <div class="title" style="font-family: 'Playfair Display', serif;color:#411F1F">Successfully Upoaded!</div>
      <div class="text" style="font-family: 'Playfair Display', serif;color:#37b20a">To create more, click below.</div>
      <!--<button class="upload-button" action="/imageupload">Upload</button><br>
      -->
      <a href="/register"><button class="upload-button">Create Credentials</button></a>
      <a href="/cardsAdmin"><button class="upload-button">Admin Portal</button></a>
      
      
    </div>
  <br>
  
  </body>
</html>
